/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: "Baloo Bhaina 2", cursive;
  margin-top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section-left */
.section-left {
  background: rgba(49, 35, 20, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 640px;
}

.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-clock {
  margin-right: 40px;
  font-size: 3.2rem;
  margin-bottom: 10px;
}

#timer {
  font-size: 3.2rem;
}

#count {
  color: rgb(255, 92, 92);
  margin-right: 20px;
}

.btn,
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.score {
  font-size: 2rem;
  color: rgb(189, 122, 67);
  margin: 0;
  padding: 0;
}

#cookieBtn {
  width: 300px;
  height: 500px;
  position: relative;
  display: block;
  background-color: transparent;
  border: none;
  background-image: url(/img/Cookie.png);
  background-position: center;
  background-size: cover;
  outline: 0;
}

#cookieBtn:disabled {
  filter: grayscale(70%);
}

#cookieBtn:hover:enabled {
  width: 310px;
  transition: ease-out;
  transition-duration: 10ms;
}

#cookieBtn:active:enabled {
  width: 290px;
  transition: ease-out;
  transition-duration: 10ms;
}

/* Section-right */
.section-right {
  background: rgba(49, 35, 20, 0.1);
  height: 640px;
  width: 260px;
  margin-left: 4px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
}

.log h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(149, 95, 13);
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 24px;
}

#clicked,
#purchasedItem {
  font-size: 1em !important;
  color: rgb(112, 26, 26);
}

.fa-hand-point-up {
  margin-right: 20px;
}

.itemBtn {
  color: rgb(100, 155, 0);
  background: rgba(233, 165, 56, 0.2);
  width: 84%;
  height: 96px;
  font-size: 1.8rem;
  border: dashed 3px rgb(194, 161, 109);
  margin: 6px 0 6px 0;
  outline: 0;
}

.itemBtn:hover {
  background: rgba(233, 221, 56, 0.2);
  cursor: pointer;
}

.itemBtn:disabled {
  background: rgba(233, 97, 56, 0.2);
  color: rgb(195, 112, 91);
  border: dashed 3px rgb(197, 101, 74);
  cursor: not-allowed;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  font-size: 20px;
  font-family: "Baloo Bhaina 2", cursive;
  line-height: 24px;
  visibility: hidden;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(58, 58, 58);
  text-align: left;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(255, 215, 215);
  padding: 20px;
  border: solid 2px rgb(255, 196, 169);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.cost {
  color: rgb(255, 72, 0);
  font-weight: bold;
  font-size: 24px;
}

.gain {
  color: rgb(122, 204, 0);
  font-weight: bold;
  font-size: 24px;
}

.section-bottom {
  background: rgba(49, 35, 20, 0.1);
  height: 120px;
  width: 864px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
}

#reset {
  align-self: center;
  height: 52px;
  width: 200px;
  background: rgb(235, 173, 115);
  border: none;
  color: blanchedalmond;
  border-radius: 50px;
  font-size: 1.5em;
}

#reset:hover:enabled {
  transition: ease-in-out;
  transition-duration: 100ms;
  background: rgb(235, 171, 146);
  box-shadow: 0px 0px 20px rgba(250, 115, 115, 0.4);
  font-weight: bold;
}

#reset:disabled {
  background: rgb(173, 159, 133);
  color: rgb(236, 225, 188);
}

.fa-chevron-right,
.fa-chevron-left {
  align-self: center;
  font-size: 2em;
  padding: 0px 20px;
  color: rgb(235, 173, 115);
}

.fa-chevron-right {
  -webkit-animation: leftArrow 0.5s infinite alternate ease-in-out;
}
.fa-chevron-left {
  -webkit-animation: rightArrow 0.5s infinite alternate ease-in-out;
}

@-webkit-keyframes leftArrow {
  0% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-0.4em);
    opacity: 0.5;
  }
}

@-webkit-keyframes rightArrow {
  0% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0.4em);
    opacity: 0.5;
  }
}
